// fonts
$primary-font-family: "Open Sans", sans-serif;
$font-title-home: "Merriweather", serif;
$font-title-card: "Montserrat", sans-serif;

// colors
$color-primary: #e17334;
$color-primary-blue: #114e4e;
$color-font-primary: #54585a;
$dirty-blue: #438792;
$sky-blue: #a0c0cf;
$white-two: #d8d8d8;
$white: #fff;
$white-four: #f5f5f5;
$grey-light: #dde9ed;
$grey-btn: #d5d5d5;
$grey-dark: #bfcdd0;
$grey-placeholder: #c5c5c5;
$color-copy: #6b6b6b;
$green: #a2deaf;
$color-twitter: #00a0f5;
$dried-blood: #420101;
$red: #bd1010;
$tomato: #e95626;
$slate: #3e5b65;
$yellow: #eab052;

//Color palettes



