.card-container {
  // background-image: linear-gradient(#bfcdd0, #dde9ed);
  background-image: url(https://images.assetsdelivery.com/compings_v2/ingalinder/ingalinder1603/ingalinder160300117.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 457px;
  @media (min-width: 768px) {
    height: 50px;
    border-radius: 6px;
    width: 50%;
    height: 100vh;
  }
  @media (min-width: 1024px) {
    width: 90%;
    height: 100vh;
  }
}
.container {
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 240px;
}
.card {
  background-color: white;
  width: 240px;
  height: 329px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  &__photo {
    width: 240px;
    height: 200px;
    background-image: url(https://images.chicmagazine.com.mx/fDGV_iMKva6n0r5I9LoejdhgARw=/958x596/uploads/media/2020/09/24/avril-lavigne-que-fue-de.jpg);
  }
  &__list {
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
    width: 54px;
    &--icon {
      margin-right: 10px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-1 {
        font-size: 18px;
        transform: scale(1);

        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
  &__title {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 10px;

    &--rectangle {
      width: 5px;
      height: 42px;
    }
    &--text {
      padding-left: 20px;
    }
  }
}
.name {
  line-height: 1.11;
  font-size: 1.8rem;
  text-transform: capitalize;
  font-family: $font-title-card;
  font-weight: bold;
}
.subtitle {
  line-height: 1.25;
  font-size: 1.6rem;
  color: $color-font-primary;
  font-family: $font-title-card;
}
.reset__button {
  width: 75px;
  height: 30px;
  border: solid 2px grey;
  border-radius: 15px;
  margin-bottom: 20px;
  font-family: $primary-font-family;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  box-shadow: 6px 6px #85bed1;
  cursor: pointer;
  transition: background-color ease 0.5s;
  transition: border ease 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: 6px 6px #fb00ff;
    border: solid 2px white;
  }

  &--icon {
    width: 11px;
    margin-top: 2px;
    transition: background-color ease 0.5s;
  }
  &--reset {
    font-family: $primary-font-family;
    color: $color-font-primary;
    font-size: 1.2rem;
  }
}
