.page__footer {
  height: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: solid 1px $white-two;
  background-color: yellow;

  @media (min-width: 768px) {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--title {
    font-family: $primary-font-family;
    font-size: 1.4rem;
    color: $color-copy;
    opacity: 0.5;
    margin-bottom: 12px;
    @media (min-width: 768px) {
      margin: 8px 0px 12px 40px;
    }
  }
  &--logo {
    width: 103px;
    // height: 40px;
    @media (min-width: 768px) {
      margin: 10px 40px 10px 0px;
    }
  }
}
