body {
  height: 100vh;
}
.maincards {
  height: 83%;
  width: 100%;
  //background-color: $white-four;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 28px;
  padding-left: 28px;
  @media (min-width: 768px) {
    height: 90%;
    justify-content: flex-end;
    //background-color: $white-four;
    background-color: greenyellow;
  }

  &__img {
    margin-top: 95px;
    width: 250px;
    // height: 63px;
    margin-bottom: 35.4px;
    @media (min-width: 768px) {
      // height: 105px;
      width: 50vh;
    }
  }
  &__title {
    line-height: normal;
    text-align: center;
    font-family: $font-title-home;
    // color: $color-primary;
    color: rgb(253, 0, 118);
    font-size: 2rem;
    @media (min-width: 768px) {
      font-size: 2.4rem;
    }
  }
  &__description {
    text-align: center;
    line-height: normal;
    color: $color-primary-blue;
    font-size: 1.3rem;
    font-family: $primary-font-family;
    margin-bottom: 18px;
    @media (min-width: 768px) {
      font-size: 1.6rem;
      margin-right: 200px;
      margin-left: 200px;
    }
  }
  &__list {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: blue solid 2px;
    height: 73.8px;
    width: 268px;
    margin-bottom: 38.6px;
    @media (min-width: 768px) {
      margin-bottom: 20%;
      height: 86px;
      width: 325px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 100px;
    }
    &--item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $primary-font-family;
      line-height: normal;
      color: rgb(253, 0, 118);
      // color: $color-font-primary;
      font-size: 1.4rem;
      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
    }
  }
  &__button {
    border-radius: 21px;
    background-color: rgb(253, 0, 118);
    line-height: 1, 5;
    padding: 10px 20px;
    text-decoration: none;
    color: $white-four;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: $primary-font-family;
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 69px;
    }
  }
}

.icon {
  font-size: 22.4px;
  color: rgb(253, 0, 118);
  margin: 0 auto;
  @media (min-width: 768px) {
    height: 29px;
  }
}
